.card-wrapper {
    height: auto;
}

.card-container {
    margin: 10px;
}

.anime-img {
    width: 250px;
    border: 0px;
    border-radius: 30px 30px 0px 0px;
    border: 3px solid var(--main-color);
    
}

.anime-title-container {
    width: 250px;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 0px  0px  30px 30px;
}

.anime-title {
padding-top: 2px;
font-size: 20px;
}

.japanese-title {
    margin-left: 5px;
    font-size: 15px;
}

.anime-button {
    margin: 5px;
    background: none;
    border: none;
}

.favourite:hover {
    fill: yellow;
}

.saved:hover {
    fill: blue;
}
