.home-content {
  padding-top: 15px;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  min-height: 700px;
  background-color: var(--background-color);
  border-radius: 15px;
  position: relative;
}

.anime-page-title, .manga-page-title  {
    margin-left: 25px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.827);
}

.search-wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  height: 45px;
}

.search-form input {
  height: 25px;
  width: 350px;
  padding-left: 5px;
}

.search-form button {
  height: 25px;
  width: 60px;
  margin-left: 15px;
  border-radius: 5px;
}

.genre-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.genre-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 90%;
  min-height: 200px;
  background-color: black;
  padding: 10px;
  border-radius: 15px;
}

.genre-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.genre-name {
  padding: 10px;
  color: white;
}

.genre-btn {
  background: none;
  border: none;
}

.genre-btn:hover {
  color: var(--main-color);
}

.page-btn-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.page-btn {
  margin: 5px;
}

.hide {
  display: none;
}
