.Footer{
    position: fixed;
    margin-top: 10px;
    bottom: 0px;
    width: 100vw;
    background-color: #1F1F1F;
}

.footer-copyright{
    width: 300px;
    color: white;
    margin:15px ;
    
}

