.profile-header {
    background-color: var(--background-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* Theme Container Styles */

.theme-center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.theme-container {
    background-color: var(--background-color);
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}

.theme-img {
    width: 250px;
    margin: 10px;
    border: 3px solid black;
    transition: 0.3s;
}

.img-theme-btn {
    background: none;
    border: none;
}

.theme-img:hover {
    border-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 450px) {
    .theme-btn-wrapper {
        display: flex;
        flex-direction: column;
    }
}

/* Favourite and Saved Section Style */

.favourite-container {
background-color: var(--background-color);
margin: 20px;
padding: 10px;
border-radius: 20px;
}

.center-title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 40px;
}

.saved-container {
    background-color: var(--background-color);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}