* {
  margin: 0;
  padding: 0;
}

.single-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-content {
  margin-top: 25px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  width: 600px;
  min-height: 700px;
  border-radius: 15px;
  background-color: var(--background-color);
}

.single-title {
  margin-top: 25px;
  font-size: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.846);
}

.single-title_japanese {
  color: rgba(255, 255, 255, 0.846);
  font-size: 18px;

}

.single-img {
  margin-top: 10px;
  height: 500px;
  border-radius: 15px;
}

.single-info {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.846);
  font-size: 16px;
}

.single-info p {
  margin: 5px 0 5px 0;
}

.single-description {
  color: rgba(255, 255, 255, 0.846);
  margin-top: 25px;
  padding: 0 55px 0 55px;
}

/* manga */

.single-author {
  width: 450px;;
}

.single-author span {
  font-size: 15px;
}