 :root {

  --red-background: url(../img/red-background.jpg);
  --red: #b1223f;
  --red-hover: #881b31;

  --orange-background: url(../img/orange-background.jpeg);
  --orange: #f36a3e;
  --orange-hover: #cb5832;

  --yellow-background: url(../img/yellow-background.png);
  --yellow: #edd587;
  --yellow-hover: #c4b070;

  --blue-background: url(../img/blue-background.jpg);
  --blue: #14418d;
  --blue-hover: #0f2f66;

  --green-background: url(../img/green-background.png);
  --green: #159382;
  --green-hover: #0f6e61;

  --purple-background: url(../img/purple-bacgkround.jpg);
  --purple: #5b2059;
  --purple-hover: #431841;

  --pink-background: url(../img/pink-background.jpg);
  --pink: #f6bbc2;
  --pink-hover: #daa6ac;

  --grey-background: url(../img/grey-background.jpg);
  --grey: #919ca0;
  --grey-hover: #747c80;

  --black-background: url(../img/black-background.png);
  --black: #252b33;
  --black-hover: #333a46;

  --white: rgb(224, 224, 224);
  --text-black: rgb(26, 26, 26);

  --background-color: rgba(46, 46, 46, 0.542);

  --main-color: var(--orange);
  --main-color-hover: var(--orange-hover);
  --main-background: var(--orange-background);
  --text-color: var(--black);
  --genre-text-color: rgb(224, 224, 224);
 }
 
 * {
  margin: 0;
  padding: 0;
 }

 body {
  width: 100%;
  height: 100vh;
  background-image: var(--main-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#root {
  position: relative;
  height: 100%;
}

/* homepage */

.anime-manga-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.home-anime-manga {
  width: 250px;
  height: 60px;
  background-color: var(--background-color);
  border-radius: 10px;
  text-align: center;
}

.universal-btn {
  color: var(--text-color);
  margin: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  background-color: var(--main-color);
  border: none;
}

.universal-btn:hover {
  background-color: var(--main-color-hover);
}

.header-logo-link {
  margin-left: 25px;
}

.cherry-tree {
  margin-left: 10px;
}

.cherry-tree .pink-leaf {
  transition: 0.3s;
}

.cherry-tree .trunk {
  transition: 0.3s;
}

.cherry-tree:hover .pink-leaf {
  fill:  #ff99cc;
}

.cherry-tree:hover .trunk{
  fill: rgb(165, 77, 42);
}